*.png
*.gif
*.jpg
*.jpeg
*.pth
*.pyc
*.pyo
*.npz
*.weights
*.mp4
*.code-workspace
*.txt
*.json
*.yaml
*.yml
*.jsonl
*.jsonl.gz
*.jsonl.tar.gz
.github
*.pkl
*.csv
*.md
# windsurf rules
.windsurfrules

!checkpoint/fall_detection_lstm/2025-03-22-2328-b/
!real-time_demo.mp4
!environment.yml
!frame_data.csv